.login {
  &__title {
    color: rgba(0, 0, 0, 0.9);
    font-size: 56rpx;
    font-weight: 600;
    line-height: 72rpx;
    padding: 16rpx 32rpx 40rpx;
  }

  &__button {
    margin: 64rpx 32rpx;
  }

  .wx-login-btn {
    background-color: #07c160;
    color: #fff;
    font-size: 32rpx;
    border-radius: 8rpx;
    border: none;
  }

  .wx-login-btn[disabled] {
    background-color: #e0e0e0;
    color: #999;
  }

  // 覆盖组件样式
  .radio-class {
    --td-radio-icon-size: 32rpx;
    --td-radio-label-line-height: 40rpx;

    align-items: center;
  }

  .radio-class-icon {
    margin-top: 0 !important;
  }

  .radio-class-label {
    margin-left: 8rpx !important;
    font-size: 24rpx !important;
    line-height: 40rpx !important;
  }
}
